@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}